/* Alternative box model */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset Paddings & Margins */
* {
  padding: 0;
  margin: 0;
}

/* Override the NORMALIZE margin settings */
h1 {
  margin: 0;
}
